############################
# OS X
############################

/api/.DS_Store
/api/.AppleDouble
/api/.LSOverride
/api/Icon
/api/.Spotlight-V100
/api/.Trashes
/api/._*


############################
# Linux
############################

*~


############################
# Windows
############################

/api/Thumbs.db
/api/ehthumbs.db
/api/Desktop.ini
/api/$RECYCLE.BIN/
/api/*.cab
/api/*.msi
/api/*.msm
/api/*.msp


############################
# Packages
############################

/api/*.7z
/api/*.csv
/api/*.dat
/api/*.dmg
/api/*.gz
/api/.env
/client/.env
/api/*.iso
/api/*.jar
/api/*.rar
/api/*.tar
/api/*.zip
/api/*.com
/api/*.class
/api/*.dll
/api/*.exe
/api/*.o
/api/*.seed
/api/*.so
/api/*.swo
/api/*.swp
/api/*.swn
/api/*.swm
/api/*.out
/api/*.pid


############################
# Logs and databases
############################

/api/.tmp
/api/*.log
/api/*.sql
/api/*.sqlite
/api/*.sqlite3


############################
# Misc.
############################

/api/*#
/api/ssl
/api/.idea
/api/nbproject
/api/public/uploads/*
/api/!public/uploads/.gitkeep

############################
# Node.js
############################

/api/lib-cov
/api/lcov.info
/api/pids
/api/logs
/api/results
/api/node_modules/*
/api/.node_history
/api/package-lock.json

############################
# Tests
############################

/api/testApp
/api/coverage

############################
# Strapi
############################

/production/license.txt
/production/exports
/production/*.cache
/production/dist
/production/build
/production/.strapi-updater.json
############################
# OS X
############################

/production/.DS_Store
/production/.AppleDouble
/production/.LSOverride
/production/Icon
/production/.Spotlight-V100
/production/.Trashes
/production/._*


############################
# Linux
############################

*~


############################
# Windows
############################

/production/Thumbs.db
/production/ehthumbs.db
/production/Desktop.ini
/production/$RECYCLE.BIN/
/production/*.cab
/production/*.msi
/production/*.msm
/production/*.msp


############################
# Packages
############################

/production/*.7z
/production/*.csv
/production/*.dat
/production/*.dmg
/production/*.gz
/production/.env
/client/.env
/production/*.iso
/production/*.jar
/production/*.rar
/production/*.tar
/production/*.zip
/production/*.com
/production/*.class
/production/*.dll
/production/*.exe
/production/*.o
/production/*.seed
/production/*.so
/production/*.swo
/production/*.swp
/production/*.swn
/production/*.swm
/production/*.out
/production/*.pid


############################
# Logs and databases
############################

/production/.tmp
/production/*.log
/production/*.sql
/production/*.sqlite
/production/*.sqlite3


############################
# Misc.
############################

/production/*#
/production/ssl
/production/.idea
/production/nbproject
/production/public/uploads/*
/production/!public/uploads/.gitkeep

############################
# Node.js
############################

/production/lib-cov
/production/lcov.info
/production/pids
/production/logs
/production/results
/production/node_modules/*
/production/.node_history
/production/package-lock.json

############################
# Tests
############################

/production/testApp
/production/coverage

############################
# Strapi
############################

/production/license.txt
/production/exports
/production/*.cache
/production/dist
/production/build
/production/.strapi-updater.json
